<h1><%= @item.name %></h1>
<h3><%= @item.quantity %>, <%= @item.quantity_type %></h3>
<p><% if @item.brand != "" %>
    Brand - <%= @item.brand %>
    <% end %><br>
    <% if @item.variety != "" %>
    Variety - <%= @item.variety %>
    <% end %><br>
    <% if @item.flavor != "" %>
    Flavor - <%= @item.flavor %>
    <% end %></p>
<h3>Category: <a href="/categories/<%= @category.id %>"><%= @category.name %></a></h3>
<br>
  <form action="/items/<%= @item.id %>/edit">
  <button class="editItemButton">Edit Item</button>
  </form>
<br>
<br>
  <form method="post" action="/items/<%= @item.id %>">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <button class="deleteItemButton">Delete Item</button>
</form>