<h1><%= @item.name %></h1>
<h3><%= @item.quantity %>, <%= @item.quantity_type %></h3>
<p><% if @item.brand != "" %>
    Brand - <%= @item.brand %>
    <% end %><br>
    <% if @item.variety != "" %>
    Variety - <%= @item.variety %>
    <% end %><br>
    <% if @item.flavor != "" %>
    Flavor - <%= @item.flavor %>
    <% end %></p>
<h3>Category: <a href="/categories/<%= @category.id %>"><%= @category.name %></a></h3>

  <a href="/items/<%= @item.id %>/edit">Edit Item</a>

  <form method="post" action="/items/<%= @item.id %>">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Item">
</form>